<h2 style="text-align:center;">Welcome to the fifth laboratory work in this course</h2>
<h4 style="text-align:center;">This laboratory work is graded</h4>

<span style="color:#011f4b; font-size:15px"><b>The goal</b> of the laboratory work - is to start data preprocessing process 
<br/>
<b>Learning outcomes:</b>
* to be able to explore patterns in data
* to perform categorical values encoding
</span>
<br/><br/>
<span style="color:#011f4b;">
Your task is to complete this laboratory work within 80 minutes and submit the .ipynb file to DL "Laboratory05". 
<br/>
<b>Pay attention to the file name - your file should be named as "Laboratory_work_05_Yoursurname_YourName_yourgroup".</b> In case you didn't name your file properly (as showed before) <b>-5% penalty</b> will be applied.
</span>

<hr>

<span style="color:#011f4b">In many Machine-learning or Data Science activities, the data set might contain text or categorical values (basically non-numerical values). For example, color feature having values like red, orange, blue, white etc. Meal plan having values like breakfast, lunch, snacks, dinner, tea etc. Few algorithms such as CATBOAST, decision-trees can handle categorical values very well but most of the algorithms expect numerical values to achieve state-of-the-art results.

<span style="color:#011f4b; font-size:16px;"><b>Label Encoder</b></span>

<span style="color:#011f4b">This approach is very simple and it involves converting each value in a column to a number. Consider a dataset of bridges having a column names bridge-types having below values. Though there will be many more columns in the dataset, to understand label-encoding, we will focus on one categorical column only.
</span>

<span style="color:#011f4b"><b>Label Encoding in Python</b> can be achieved using <code>Sklearn Library</code>. Sklearn provides a very efficient tool for encoding the levels of categorical features into numeric values. LabelEncoder encode labels with a value between 0 and n_classes-1 where n is the number of distinct labels. If a label repeats it assigns the same value to as assigned earlier.
<br/>
Example, </span>

<span style="color:#011f4b"> Though label encoding is straight but it has the disadvantage that the numeric values can be misinterpreted by algorithms as having some sort of hierarchy/order in them. This ordering issue is addressed in another common alternative approach called <b>‘One-Hot Encoding’</b>. In this strategy, each category value is converted into a new column and assigned a 1 or 0 (notation for true/false) value to the column. Let’s consider the previous example of bridge type and safety levels with one-hot encoding.</span>

<b>First things first,</b> import <code><b>matplotlib</b></code>, <code><b>pandas</b></code> and <code><b>numpy</b></code>packages to your notebook. 
<br/> Simply uncomment the cell below:

<p style="text-align:right; color:#1460AA;">+2
    points </p>

In [1]:
# Run this cell - Запустите эту ячейку SHFT+Enter
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Titanic.csv")

<b>Inline</b> your matplotlib

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

---

<b> Task 00 </b> Take the first look at your data

<p style="text-align:right; color:#1460AA;">+8
    points </p>

Think about the best way to discover your data at the first time. <br/> Read README file to understand the names of the columns

In [4]:
# Your code goes here
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

In [ ]:
# Your code goes here

In [ ]:
# Your code goes here

---

<b> Task 01 </b> Hadling NaN values.

<p style="text-align:right; color:#1460AA;">+15
    points </p>

Calculate and visualize how many NaN valueas are there in your dataset. Calculate the percentage of NaNs. Choose the way you will handle NaNs - how are you going to restore them.

How many NaNs do you have. Answer as a text

In [29]:
data_na = data.isna()
ctr=0
for i in range(data.shape[1]):
    ctr += data[str(data.iloc[:,i].name)].isna().sum()
    print("Name:",str(data.iloc[:,i].name),"Nans-amount:",data[str(data.iloc[:,i].name)].isna().sum())
print("Total:",ctr)

Name: PassengerId Nans-amount: 0
Name: Survived Nans-amount: 0
Name: Pclass Nans-amount: 0
Name: Name Nans-amount: 0
Name: Sex Nans-amount: 0
Name: Age Nans-amount: 177
Name: SibSp Nans-amount: 0
Name: Parch Nans-amount: 0
Name: Ticket Nans-amount: 0
Name: Fare Nans-amount: 0
Name: Cabin Nans-amount: 687
Name: Embarked Nans-amount: 2
Total: 866

What are the persentage of NaNs. Answer as a text or output of a code snippet

In [27]:
for i in range(data.shape[1]):
    percentage_is = (data[str(data.iloc[:,i].name)].isna().sum() *100)/len(data)
    print("Name:",str(data.iloc[:,i].name),"\nPercent missing:",percentage_is,'%')

Name: PassengerId
Percent missing: 0.0 %
Name: Survived
Percent missing: 0.0 %
Name: Pclass
Percent missing: 0.0 %
Name: Name
Percent missing: 0.0 %
Name: Sex
Percent missing: 0.0 %
Name: Age
Percent missing: 19.865319865319865 %
Name: SibSp
Percent missing: 0.0 %
Name: Parch
Percent missing: 0.0 %
Name: Ticket
Percent missing: 0.0 %
Name: Fare
Percent missing: 0.0 %
Name: Cabin
Percent missing: 77.10437710437711 %
Name: Embarked
Percent missing: 0.2244668911335578 %

What NaNs are you going to restore - Answer as a text

I will restore Cabin because it has the least percent of existing
i will do it by Embarked and mean

How will you restore NaNs (by filling with means? modes? medians? or another way) and why. Answer as a text

Restore the NaNs

In [59]:
# Your code goes here
j = 0
for i in range(data.shape[1]):
    if(data[str(data.iloc[:,i].name)].isna().any() and str(data.iloc[:,i].name) == "Cabin"):
        dataNan = data[str(data.iloc[:,i].name)]
        while j < len(dataNan):
            if(np.isnan(dataNan[j])):
                Embarked = data[data.Embarked == data.loc[j, 'Embarked']]
                data.loc[j, str(data.iloc[:, i].name)] = str(Embarked[str(data.iloc[:, i].name)].mean())
            j += 1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
# Your code goes here
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,10
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,C
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,C

---

<b> Task 02 </b> Cleaning data - dropping unrelevant data and outliers

<p style="text-align:right; color:#1460AA;">+15
    points </p>

What features are unrelevant? Why? Answer as a text

Dropping unrelevant data

In [ ]:
# Your code goes here
data.drop('PassengerId', axis=1, inplace = True)

In [ ]:
# Your code goes here

Detecting outliers

In [ ]:
# Your code goes here

In [ ]:
# Your code goes here

Dropping outliers

In [ ]:
# Your code goes here

In [ ]:
# Your code goes here

---

<b> Task 03 </b> Data types

<p style="text-align:right; color:#1460AA;">+5
    points </p>

Identify what are your categorical data and numerical data. Answer as a text or as an output of code snippet

---

<b>Task 04</b> Data Visualization

Use different ways to visualize your categorical and numerical data

<p style="text-align:right; color:#1460AA;">+20
    points </p>

In [ ]:
# Your code goes here

In [ ]:
# Your code goes here

In [ ]:
# Your code goes here

In [ ]:
# Your code goes here

In [ ]:
# Your code goes here

---

<b> Task 05 </b> Relationships in your data

More advanced statistical analysis aims to identify patterns in data, for example, whether there is a link between two variables, or whether certain groups are more likely to show certain attributes.
<br/> <br/> We often collect data so that we can find patterns in the data, like numbers trending upwards or correlations between two sets of numbers.
Depending on the data and the patterns, sometimes we can see that pattern in a simple tabular presentation of the data. 
<br/><br/>Other times, it helps to visualize the data in a chart, like a time series, line graph, or scatter plot - you can use your visualization from Task 04.
<br/><br/>You also use correlation coefficient here, check [this](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html) tutorial or [this](https://seaborn.pydata.org/examples/many_pairwise_correlations.html) one, or [this](https://towardsdatascience.com/better-heatmaps-and-correlation-matrix-plots-in-python-41445d0f2bec) one

<p style="text-align:right; color:#1460AA;">+20
    points </p>

In [ ]:
# Your code goes here

In [11]:
# Your code goes here

In [14]:
# Your code goes here

In [15]:
# Your code goes here

In [ ]:
# Your code goes here

In [ ]:
# Your code goes here

---

<b>Task 06 </b> Categorical Data encoding (This task can be done later, until the next class)

<p style="text-align:right; color:#1460AA;">+15
    points </p>

Encode your categorical data

Use this [help](https://towardsdatascience.com/categorical-encoding-using-label-encoding-and-one-hot-encoder-911ef77fb5bd) to perform Label Encoding and One-Hot Encoding on your categorical data

---

<b><span style="font-size:20px; color:orange">G</span>reat!</b> You did awesome job! <br/> <br/> But don't stop practicing, remember - since you will be working with data, you have to understand its nature.
<br/> <br/> <b>Now</b> go to the Quiz 05
<br/>

---